---
import Layout from '../layouts/Layout.astro'
import LoginForm from '../components/LoginForm.astro'
import Header from '../components/Header.astro'
---

<Layout title="NeighborhoodFinder">
  <div class="min-h-screen w-full flex flex-col">
    <Header active="/login" />
    <div
      class="bg-white flex-grow rounded-t-[3rem] border m-6 sm:m-16 md:m-20 mb-0 sm:mb-0 md:mb-0"
    >
      <div class="px-6 pt-24 sm:pt-32 pb-10 lg:px-8">
        <div class="mx-auto max-w-2xl text-center">
          <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Login</h2>
        </div>
      </div>
      <LoginForm />
    </div>
  </div>
</Layout>
