---

---

<!-- add MapLibre JavaScript and CSS -->
<script is:inline src="https://tiles.versatiles.org/assets/maplibre-gl/maplibre-gl.js"></script>
<link href="https://tiles.versatiles.org/assets/maplibre-gl/maplibre-gl.css" rel="stylesheet" />

<!-- add container for the map -->
<div class="p-2 flex items-center gap-2">
  <span class="inline-block w-5 h-5" style="background-color:#ffdd00"></span> Bike Parkings
  <span class="inline-block w-5 h-5" style="background-color:#ff00dd"></span> Park+Rail
</div>
<div id="map" style="width:100%;aspect-ratio:16/9"></div>

<!-- start map -->
<script is:inline>
  let map = new maplibregl.Map({
    container: 'map',
    style: 'https://tiles.versatiles.org/assets/styles/colorful.json',
    center: [9.37477, 47.42391],
    zoom: 14,
  }).addControl(new maplibregl.NavigationControl())

  // Set bounds for the map, e.g. 3km around center
  // let center = new maplibregl.LngLat(9.37477, 47.42391)
  // let bounds = maplibregl.LngLatBounds.fromLngLat(center, 3000).toArray()
  // map.setMaxBounds(bounds)

  new maplibregl.Marker({
    color: '#333333',
  })
    .setLngLat([9.37477, 47.42391])
    .addTo(map)

  fetchAndAddMarkers('/markers/bike.json', '#ffdd00')
  fetchAndAddMarkers('/markers/parking.json', '#dd00ff')

  function fetchAndAddMarkers(url, color) {
    fetch(url)
      .then((response) => response.json())
      .then((markers) => {
        markers.forEach(({ name, coordinates }) => {
          new maplibregl.Marker({
            color,
          })
            .setLngLat(coordinates)
            .setPopup(new maplibregl.Popup().setHTML(`<div>${name}</div>`))
            .addTo(map)
        })
      })
      .catch((error) => console.error(error))
  }
</script>
