<div class="py-10">
  <div class="overflow-hidden bg-white mr-6 sm:mr-10 md:mr-20 py-20 rounded-r-[4rem]">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 lg:mx-0 lg:max-w-none lg:grid-cols-2">
        <img
          src="eric3.png"
          alt="Product screenshot"
          class="sm:hidden w-[48rem] max-w-none w-full sm:w-[50rem] md:-ml-20"
        />
        <div class="lg:pr-8 lg:pt-4">
          <div class="lg:max-w-lg">
            <h2 class="text-base font-semibold leading-7 text-blue-600">Easy & Quick</h2>
            <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
              All you need to know about your future neighborhood
            </p>
            <p class="mt-6 text-lg leading-8 text-gray-600">
              Meet Eric. He recently got a new job and is moving to a new city for this job. He's
              outgoing and loves exploring vibrant neighborhoods but isn't sure where to start
              looking for an apartment. That's where our platform comes in, offering a personalized
              summary of each neighborhood, making it easy for people like Eric to find the perfect
              fit.
            </p>
            <dl class="mt-10 max-w-xl space-y-8 text-base leading-7 text-gray-600 lg:max-w-none">
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <!-- I grabbed icons from https://tabler.io/icons, simply copy the SVG and replace it here. MAKE SURE to add the class attribute -->
                  <svg
                    class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-sunset-2"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path d="M3 13h1"
                    ></path><path d="M20 13h1"></path><path d="M5.6 6.6l.7 .7"></path><path
                      d="M18.4 6.6l-.7 .7"></path><path d="M8 13a4 4 0 1 1 8 0"></path><path
                      d="M3 17h18"></path><path d="M7 20h5"></path><path d="M16 20h1"></path><path
                      d="M12 5v-1"></path></svg
                  >
                  Foggy or noisy?
                </dt>
                <dd class="inline">
                  Get a clear picture of the local climate in each neighborhood. From average
                  temperatures to seasonal changes, you’ll know what to expect, whether you're
                  concerned about summer heat, winter chill, or year-round rainfall patterns. We
                  combine environmental data with user reviews to tell you exactly what to expect
                  from a neighborhood.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    aria-hidden="true"
                    class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                      d="M3 3m0 1a1 1 0 0 1 1 -1h2a1 1 0 0 1 1 1v4a1 1 0 0 1 -1 1h-2a1 1 0 0 1 -1 -1z"
                    ></path><path d="M18 17m-2 0a2 2 0 1 0 4 0a2 2 0 1 0 -4 0"></path><path
                      d="M10 5h7c2.761 0 5 3.134 5 7v5h-2"></path><path d="M16 17h-8"></path><path
                      d="M16 5l1.5 7h4.5"></path><path d="M9.5 10h7.5"></path><path d="M12 5v5"
                    ></path><path d="M5 9v11"></path></svg
                  >
                  Public Transport.
                </dt>
                <dd class="inline">
                  Discover the connectivity of each neighborhood with real-time data on public
                  transportation options. Learn about nearby bus and train stations, commute times
                  to key locations, and the availability of bike-sharing programs or
                  pedestrian-friendly paths.
                </dd>
              </div>
              <div class="relative pl-9">
                <dt class="inline font-semibold text-gray-900">
                  <svg
                    class="absolute left-1 top-1 h-5 w-5 text-blue-600"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    viewBox="0 0 24 24"
                    fill="none"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    class="icon icon-tabler icons-tabler-outline icon-tabler-monkeybar"
                    ><path stroke="none" d="M0 0h24v24H0z" fill="none"></path><path
                      d="M3 21v-15l5 -3l5 3v15"></path><path d="M8 21v-7"></path><path d="M3 14h10"
                    ></path><path d="M6 10a2 2 0 1 1 4 0"></path><path d="M13 13c6 0 3 8 8 8"
                    ></path></svg
                  >
                  Activites.
                </dt>
                <dd class="inline">
                  Explore the social and cultural offerings of a neighborhood, including
                  restaurants, cafes, bars, and entertainment venues. Whether you're looking for
                  vibrant nightlife or more laid-back weekend activities, our platform helps you
                  find areas that match your lifestyle.
                </dd>
              </div>
            </dl>
            <p class="pt-8 ml-9">
              <a
                href="/waitlist"
                class="join group inline-flex items-center rounded-full bg-blue-600 px-6 py-3 font-semibold text-white shadow-sm hover:bg-blue-950 hover:text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition-colors"
                >Join waitlist <svg
                  class="block ml-4 -mr-1 stroke-2 stroke-white scale-110"
                  fill="none"
                  width="10"
                  height="10"
                  viewBox="0 0 10 10"
                  aria-hidden="true"
                  ><path class="opacity-0 transition group-hover:opacity-100" d="M0 5h7"
                  ></path><path class="transition group-hover:translate-x-[3px]" d="M1 1l4 4-4 4"
                  ></path></svg
                ></a
              >
            </p>
          </div>
        </div>
        <img
          src="eric3.png"
          alt="Product screenshot"
          class="hidden sm:block w-[48rem] max-w-none sm:w-[36rem] md:w-[50rem] md:-ml-20"
        />
      </div>
    </div>
  </div>
</div>
