---
import Input from './Input.astro'
---

<div id="join" class="bg-white py-16">
  <div class="mx-auto max-w-10xl">
    <div class="relative isolate overflow-hidden px-6 py-24 sm:px-24 xl:py-32">
      <h2 class="mx-auto max-w-full text-center text-3xl font-bold tracking-tight sm:text-4xl">
        We’re Launching Soon – Be the First to Know!
      </h2>
      <p class="mx-auto mt-2 max-w-5xl text-center text-lg leading-8 text-gray-800">
        <br />
        Our platform is still in development, but we’re excited to bring it to life soon. Sign up now
        to stay informed about our launch, and be among the first to explore neighborhoods with ease.
        <br />
        <br />
        By signing up and sharing the ZIP code of the area you're interested in, you’ll not only secure
        early access but also help shape the future of our platform. Your input provides valuable insights
        that guide our development process, making the app even more tailored to your needs. <br />
        <br />
        We’re truly thankful for your interest and support. Together, we’re building something special.
      </p>
      <form class="mx-auto mt-10 grid sm:grid-cols-2 max-w-md gap-4">
        <div class="sm:col-span-2">
          <Input
            type="email"
            name="email"
            label="Email*"
            placeholder="hello@neighborhoodfinder.ch"
            autocomplete="email"
            required
          />
        </div>
        <Input
          type="number"
          name="postalcode"
          label="Postal code*"
          placeholder="XXXX"
          autocomplete="postal-code"
          required
        />
        <div>
          <label for="contributor" class="block text-sm font-medium leading-6 text-gray-900"
            >Preference*</label
          >
          <select
            id="contributor"
            name="contributor"
            class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6"
          >
            <option value="false" selected>I only want to see neighborhoods</option>
            <option value="true">I'm happy to also contribute with a review</option>
          </select>
        </div>
        <button
          type="submit"
          class="mt-2 sm:col-span-2 flex-none rounded-full bg-blue-600 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-blue-600/20 hover:text-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition-colors"
          >Join waitlist</button
        >
        <div
          id="thank-you-bubble"
          class="fixed bottom-20 left-1/2 z-10 -translate-x-1/2 rounded-full bg-blue-600 p-4 text-white text-center hidden"
        >
          Thank you! We'll soon get back to you!
        </div>
      </form>
    </div>
  </div>
</div>

<script is:inline>
  document.querySelector('form')?.addEventListener('submit', async (e) => {
    e.preventDefault()

    const email = e.target.elements.email.value
    const postalcode = e.target.elements.postalcode.value
    const contributor = e.target.elements.contributor.value

    const entry = {
      email,
      postalcode,
      contributor: contributor === 'true',
    }
    const headers = new Headers()
    headers.append('Content-Type', 'application/json')

    const requestOptions = {
      method: 'POST',
      headers,
      body: JSON.stringify(entry),
    }

    fetch('https://api.sa.mcs.marcokaufmann.ch/api/collections/signups/records/', requestOptions)
      .then((response) => response.json())
      .then((_) => {
        console.log('Waitlist joined.')

        const bubble = document.getElementById('thank-you-bubble')
        bubble.classList.remove('hidden')
        setTimeout(() => bubble.classList.add('hidden'), 5000)
      })
      .catch((error) => console.error(error))

    e.target.reset()
  })
</script>
