---
import Input from './Input.astro'
---

<div>
  <div class="mx-auto max-w-md relative isolate overflow-hidden px-6 sm:pt-10 sm:pb-20">
    <form class="mx-auto grid max-w-md gap-4">
      <Input
        type="email"
        name="email"
        label="Email*"
        placeholder="hello@neighborhoodfinder.ch"
        autocomplete="email"
        required
      />
      <Input type="password" name="password" label="Password*" autocomplete="password" required />
      <button
        type="submit"
        class="mt-2 flex-none rounded-full bg-blue-600 px-3.5 py-2.5 font-semibold text-white shadow-sm hover:bg-blue-600/20 hover:text-blue-600 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue-600 transition-colors"
        >Login</button
      >
    </form>
  </div>
</div>
