---
interface Props {
  size?: 'lg' | 'sm'
}

const { size = 'lg' } = Astro.props

const logoSize =
  size === 'lg' ? 'text-5xl sm:text-6xl md:text-7xl' : 'text-lg sm:text-xl md:text-2xl'
---

<h2 class=`font-bold tracking-tight text-gray-900 text-left ${logoSize}`>
  <span
    class="text-transparent bg-clip-text bg-gradient-to-r via-60% from-blue-400 via-blue-600 to-indigo-700"
    >Neighborhood</span
  >{size === 'lg' ? <br /> : ''}<span>Finder</span>
</h2>
