---
import Logo from './Logo.astro'

const links = [
  { href: '/', label: 'Product' },
  { href: '/waitlist', label: 'Waitlist' },
]
---

<header class="sticky top-0 py-6">
  <nav
    class="mx-auto flex max-w-7xl items-center justify-between p-4 lg:px-8 bg-white/85 rounded-full border backdrop-blur-lg"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a href="/" class="-m-1.5 p-1.5">
        <Logo size="sm" />
      </a>
    </div>
    <div class="flex lg:hidden">
      <button
        type="button"
        class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700"
      >
        <span class="sr-only">Open main menu</span>
        <svg
          class="h-6 w-6"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          aria-hidden="true"
          data-slot="icon"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </button>
    </div>
    <div class="hidden lg:flex lg:gap-x-12">
      {
        links.map(({ href, label }) => (
          <a href={href} class="font-semibold leading-6 text-gray-900">
            {label}
          </a>
        ))
      }
    </div>
    <div class="hidden lg:flex lg:flex-1 lg:justify-end">
      <a href="/login" class="text-sm font-semibold leading-6 text-gray-900 hover:text-blue-600"
        >Log in <span aria-hidden="true">&rarr;</span></a
      >
    </div>
  </nav>
</header>
