<div>
  <label for="contributor" class="block text-sm font-medium leading-6 text-gray-900">Location</label
  >
  <select
    id="contributor"
    name="contributor"
    class="mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-blue-600 sm:text-sm sm:leading-6"
  >
    <option value="false" selected>I only want to see neighborhoods</option>
    <option value="true">I'm happy to contribute with a review</option>
  </select>
</div>
